

<html>
    <head>
        <%- include('./titleAndCssLink',{title:title}); %>
    </head>
    <body>
        <%- include("header.ejs",{user:user})%> 
        <div class="mainContainer">
            <% if (user) {%>
            <div class="formPages">
                <div class="pageHeading">Create New Message</div>
                <form action="" method="POST">

                    <input id="title" name="title" type="title" placeholder="Title"/>

                    <textarea name="post" id="" cols="30" rows="10" placeholder="Description"></textarea>

                    <button>Add New Message</button>
        
                    <%- include("./errors.ejs") %>
        
                </form>
            </div>
            <% }%>
        </div>
    </body>
</html>