<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <%- include('./titleAndCssLink',{title:title}); %>
        
    </head>
    <body>
        <%- include("header.ejs",{user:user})%> 
        <div class="mainContainer">
            <%- include("show-messages.ejs",{ messages , user })%> 
        </div>
    </body>
</html>