
<html>
    <head>
        <%- include('./titleAndCssLink',{title:title}); %>
    </head>
    <body>
        <%- include("header.ejs",{user:user})%> 
     
        <div class="mainContainer">
            <% if (user)  {%>

                <% if (user.member) { %>
                    <h2>You're already a member</h2>
            
                <% }else{ %>        
                    <div class="formPages">
                        <div class="pageHeading">Become a Member</div>
                        <form  method="POST">
                            <label for="secretCode"> Enter the Secred Code : 
                                <input type="password" for="secretCode" name="secretCode" placeholder="Secret Code is 4657">
                            </label>
                            <button>Join Club</button>
                            <%- include("./errors.ejs") %>
                        </form>
                    </div>
           
                    
                <% } %>
                <% } %>
        </div>
    </body>
</html>