<html>
    <head>
        <%- include('./titleAndCssLink',{title: title || "Members-Only"}); %>
    </head>
    <body>

        <%- include("header.ejs",{user:user})%> 
        <div class="mainContainer">
            <div class="formPages">
                <div class="pageHeading">Sign Up</div>
                <form action="" method="POST">
    
                    <input id="firstname" name="firstname" type="text" placeholder="First Name"/>
                    <input id="lastname" name="lastname" type="text" placeholder="Last Name"/>
                    <input id="userEmail" name="userEmail" type="email" placeholder="Email Address"/>
                    <input id="password" name="password" type="password" placeholder="Password"/>
                    <input id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password"/>
                    
                    
                    <div class="checkBoxDiv">
                        <label for="isAdmin">Admin</label>
                        <input id="isAdmin" name="isAdmin" type="checkbox" >
                    </div>
                    
                    <button>Sign Up</button>
    
                <%- include("./errors.ejs") %>
    
                </form>
            </div>
        

        </div>
    </body>
</html>